// Placeholder manifest file.
// the installer will append this file to the app vendored assets here:
// 'vendor/assets/stylesheets/spree/frontend/all.css'
//
//= require jquery-ui/autocomplete

$boombotixRegular: "TwCenMT-Regular", "Futura", "Century Gothic", Arial, sans-serif !default;
$boombotixBold: "TwCenMT-Bold", "Futura", "Century Gothic", Arial, sans-serif !default;

@mixin boxShadow($params) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#checkout {

  // Reomve ugly dropdown styling in Firefox
  select {
    -moz-appearance: none;
  }

  font-size: 13px;
  padding-bottom: 3.125rem;
  .checkbox label {
    padding-left: 1.5625rem;
  }
  // for flash messages from the controller
  .error {
    padding: 1em;
    margin: 10px 0;
    color: #fff;
    background: rgba(255, 0, 0, 0.5);
    @include borderRadius(3px);
    text-align: center;
    &:before {
      content: 'An error occurred: ';
    }
  }
  .form-control {
    color: #000;
    font-size: 1em;
    line-height: 100%;
    height: 2.5rem;
    @include boxShadow(none);
    &:focus {
      background: #FAFAFA;
      border: 2px solid #999999;
      @include borderRadius(inherit);
    }
    border: none;
    @include borderRadius(0);
    &:invalid {
      background-color: #fff;
    }
  }
  .panel-box {
    background: #f4f4f3;
    margin-top: 7px;
    padding: 1.2rem 2.3125rem 1.6875rem;
    border: none;
    .checkbox,
    .radio {
      margin-bottom: 0;
      margin-top: 0;
      min-height: 2px;
      padding: 0 .625rem .6875rem 0;
    }
    .row {
      margin: 0;
      color: #292929;
      font-family: $boombotixBold;
      font-size: 1.4em;
      padding: .625rem 0 .8125rem;
      line-height: 100%;
      &.total {
        padding: 1.625rem 0 2.4375rem;
      }
    }
    h5 {
      color: #50C1FC;
      font-family: $boombotixBold;
      font-size: 1.1em;
      font-weight: normal;
      padding: .4375rem 0 .9375rem;
    }
    label {
      font-family: $boombotixRegular;
      color: #363636;
      font-size: .92rem;
      font-weight: normal;
    }
    label i {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .panel-box input {
    &[type="radio"], &[type="checkbox"] {
      margin-top: 0px;
    }
  }
  .title {
    margin-bottom: 2.5rem;
    padding: 1.875rem 0 1px;
    h1 {
      font-size: 1.9em;
      line-height: 150%;
      color: #9c4098;
      margin: 0;
      text-transform: uppercase;
      padding: 0;
      line-height: 140%;
    }
  }
  .validation-error {
    border: 1px solid #a94442;
    @include boxShadow(inset 0 1px 6px #ce8483);
  }
  input {
    &[type="radio"], &[type="checkbox"] {
      outline: none;
      visibility: hidden;
    }
  }
}

#spc-checkout-summary .checkout-shipping label {
  display: table;
}

#checkout .checkout-container {
  padding: 0;
  .button {
    background: #0079c1;
    font-family: $boombotixRegular;
    font-size: 1em;
    padding: 0.6875rem 0;
    border-radius: 3px;
  }
  .or-box {
    text-align: center;
    font-size: 1.2em;
    color: #000;
    padding: 0 0 .75rem;
    span {
      display: inline-block;
      position: relative;
      &:before, &:after {
        content: "";
        position: absolute;
        height: 1px;
        border-top: 1px solid #000000;
        top: .5rem;
        width: 3rem;
      }
      &:before {
        right: 100%;
        margin-right: .3125rem;
      }
      &:after {
        left: 100%;
        margin-left: .3125rem;
      }
    }
  }
  h2 {
    font-family: $boombotixRegular;
    font-weight: normal;
    font-size: 1.66em;
    color: #5a5a5a;
    padding: 0 0 .5rem;
    text-shadow: none;
    margin-top: 0;
  }
  h3 {
    font-family: $boombotixRegular;
    text-transform: none;
    font-size: 1rem;
    color: #5a5a5a;
    line-height: 100%;
    padding-bottom: .5rem;
    text-shadow: none;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 767px) {
    margin: 0;
    padding: 0;
  }
}

#main.store-checkout div.title {
  margin: 1.875em 0 2.5em;
  height: auto;
  h2 {
    text-shadow: none;
    font-size: 1.9em;
    margin: 0 auto;
  }
}

#ui-id-1 {
  //  autocomplete dropdown
  max-height: 90px;
  overflow-y: auto !important;
}

.bottom-row {
  border-left: 2px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  @include borderRadius(0 0 3px 3px);
}

.btn.checkout-btn {
  border: none;
  color: #FFF;
  @include borderRadius(3px);
  line-height: 100%;
  outline: none;
  padding: .6875rem .625rem;
  background: #46afee;
  font-family: $boombotixRegular;
  font-size: 1.9em;
  -webkit-appearance: none;
  &:hover {
    background: #0079c1;
  }
}

.checkbox, .chckbox-box {
  font-size: 1.12em;
}

.checkbox-box {
  padding-top: 2px;
}

.geoLocator {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5em;
  text-align: center;
  color: #3c8a0a;
}

.middle-row {
  border-left: 2px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  @include borderRadius(0);
}

.noPadding {
  padding: 0;
}

.panel-box,
.info {
  .row {
    margin: 0;
    padding: 0;
    .col-md-6, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      margin: 0;
      padding: 0;
    }
  }
}

.panel-box label, .remember label {
  position: relative;
}

.paymentInfo,
.addressInfo {
  margin-bottom: 2.875rem;
}

.paymentInfo {
  .input-group-addon {
    background: none;
    border: 0;
    @include borderRadius(0);
    color: green;
  }
}

.right-col {
  border-left: 1px solid #cfcfcf;
}

.right-text {
  text-align: right;
}

.top-row {
  border-left: 2px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
  border-top: 2px solid #cfcfcf;
  @include borderRadius(3px 3px 0 0);
}


label .fa-check-square-o {
  color: #7FBEA0;
}

@media only screen and (max-width: 767px) {
  #checkout.container.upper {
    padding-left: 0;
    padding-right: 0;
  }
  #checkout body {
    .checkout-container {
      padding: 0 5%;
    }
    .panel-box {
      padding: 1.2 rem;
    }
  }
  .btn.checkout-btn {
    font-size: 1.5em;
  }
  .right-col {
    border-left: none;
    border-top: 1px solid #cfcfcf;
    &.geoLocator {
      border-top: none;
      border-left: 1px solid #cfcfcf;
    }
  }
}

select#address_state_name.form-control.state.h5-active.ui-state-valid {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  width: 110%;
  background: transparent no-repeat;
  background-position: 85% 50%;
  background-image: asset_url("dropdown-arrow.png");
}

#coupon-message {
  color: #f65252;
}

.spc-need-info {
  display: none;
  color: #f65252;
  text-transform: uppercase;
}

.need-info {
  border: 2px solid #f65252 !important;
  background-color: white !important;
  transition: all 1s;
}

.accessory-img {
  width: 6.25rem;
  margin-right: 1rem;
}

.warranty-icon {
  left: 50%;
  // To horizontally center (margin left/right: auto was not working)
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.checkout-loading {
  text-align: center;
  .fa {
    color: #ccc;
    vertical-align: middle;
  }
  span {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
  }
}

#spc-billing-address {
  display: none;
}

// Show / Hide the proper text in the pay now button
#checkout-pay-btn {
  transition: all 1s;
  .spc-button-text {
    display: inline;
  }
  span {
    display: none;
  }
  &.need-info {
    .spc-need-info {
      display: inline;
    }
    .spc-button-text {
      display: none;
    }
  }
  &.spc-ready {
    .spc-place-order {
      display: inline;
    }
    .spc-button-text {
      display: none;
    }
  }
  &.processing {
    background: asset-data-url('loading-animation.svg');
    .spc-order-processing {
      display: inline;
      text-transform: uppercase;
    }
    .spc-button-text {
      display: none;
    }
  }
}
.spc-billing-toggle-container {
  padding: .5rem 0 ;
  input {
    width: 0;
  }
  label {
    font-size: 1rem;
    font-family: $boombotixRegular;
    color: #5a5a5a;
    font-weight: normal;
  }
}
