<%#= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:addon_configuration) %>
<% end %>

<%= render 'add_variant' %>

<fieldset class="no-border-bottom">
  <legend align="center"><%= Spree.t(:current_addon_items) %></legend>
</fieldset>

<div id="addons">
  <%= render 'addons' %>
</div>
